.App {
  text-align: center;
}


.car{
background-color: pink;
width: 400px;
margin: 5px auto;
padding: 10px;
}

.styled{
  background-color: rgb(162, 205, 211);
  text-transform: uppercase;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}