body{
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  
}
button{
  font-family: 'Playfair Display', serif;
  font-size: 1em;

}

.App {
  text-align: center;
}

.styled{
  background-color: rgb(162, 205, 211);
  text-transform: uppercase;

}

.table{
  width:60%;
  margin: 20px auto
}
.table th{
  background-color: rgb(78, 187, 102);
  color: #fff
}
.table th, td{
border: 1px solid #ddd;
padding: 20px;
text-align: center;

}
.table tr:hover{
  background-color: #ddd;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}